{% extends "layouts/default.html" %}

{% block pageTitle %}
  Create a new incident - Basic Information
{% endblock %}



{% block beforeContent %}

<div class="app-step-nav-header">
  <span class="app-step-nav-header__part-of">Part of</span>
  <a class="app-step-nav-header__title" href="#">
    New Incident Creation
  </a>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Basic Information
      </h1>

      <p>Use this section to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>provide the basic information about the incident</li>
        <li>make changes to apreviously supplied incident's basic information </li>
      </ul>

      <p>Registering takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "title",
        isStartButton: true
      }) }}

     

      

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
